# Prepare data

In [1]:
import pandas as pd
import glob

In [2]:
df_articles = pd.read_csv("Rawdata/articles.csv")
df_articles["article_id"] = df_articles["article_id"].astype(str)
df_articles["article_id"] = '0' + df_articles["article_id"]

In [3]:
# construct a df with the image path and the article id
img_files_raw = glob.glob('Rawdata/**/*.jpg', recursive=True)
df_paths = pd.DataFrame({"path" :img_files_raw})
df_paths["article_id"] = df_paths["path"].str[-14:].str.replace(".jpg", "", regex=False)

In [4]:
# add the imagepath to the article df
df_articles = df_articles.merge(df_paths, on='article_id', how='left')
df_articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,path
0,0108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.,Rawdata/images/010/0108775015.jpg
1,0108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.,Rawdata/images/010/0108775044.jpg
2,0108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.,Rawdata/images/010/0108775051.jpg
3,0110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde...",Rawdata/images/011/0110065001.jpg
4,0110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde...",Rawdata/images/011/0110065002.jpg

# Get relevant product groups

In [10]:
counts = df_articles["product_group_name"].value_counts()
counts

Garment Upper body       42741
Garment Lower body       19812
Garment Full body        13292
Accessories              11158
Underwear                 5490
Shoes                     5283
Swimwear                  3127
Socks & Tights            2442
Nightwear                 1899
Unknown                    121
Underwear/nightwear         54
Cosmetic                    49
Bags                        25
Items                       17
Furniture                   13
Garment and Shoe care        9
Stationery                   5
Interior textile             3
Fun                          2
Name: product_group_name, dtype: int64

In [12]:
relevant_product_groups = counts[counts > 121].index.to_list()
print(relevant_product_groups)

['Garment Upper body', 'Garment Lower body', 'Garment Full body', 'Accessories', 'Underwear', 'Shoes', 'Swimwear', 'Socks & Tights', 'Nightwear']

In [15]:
df_articles = df_articles[df_articles["product_group_name"].isin(relevant_product_groups)]

# Prepare a final pandas dataframe

In [16]:
df = df_articles[["article_id", "product_code", "product_group_name", "path"]]
df.head()

,article_id,product_code,product_group_name,path
0,0108775015,108775,Garment Upper body,Rawdata/images/010/0108775015.jpg
1,0108775044,108775,Garment Upper body,Rawdata/images/010/0108775044.jpg
2,0108775051,108775,Garment Upper body,Rawdata/images/010/0108775051.jpg
3,0110065001,110065,Underwear,Rawdata/images/011/0110065001.jpg
4,0110065002,110065,Underwear,Rawdata/images/011/0110065002.jpg

# Classification